抗震救灾晚会	news.xinhuanet.com/newscenter/2008-05/31/content_8287444.htm
抗震救灾晚会	news.qq.com/a/20080531/000369.htm
2008抗震救灾晚会	www.91ball.com/ent/1972/
2008抗震救灾晚会	www.feidian.com/live/56.html
2008抗震救灾晚会	dxcwz.blog.sohu.com/87760328.html
2008抗震救灾晚会	lxn689.blog.sohu.com/88005114.html
2008抗震救灾晚会	v.youku.com/v_playlist/cd00f1790170o9p9.html
三国演义	www.youku.com/playlist_show/id_307618.html