鳌江5中	baike.baidu.com/view/831668.htm
敖江五中	www.clubsky.net/classlist_c2Nob29sbmFtZT2wvb2tzuXW0CZzY2hvb2xpZD03MDM1NiZjaXR5PTEwNTAxMDAmdmFsaWRhdGU9Y2x1YnNreQ==.html
敖江五中	www.biaoche.bbs.ku6.com/member/25892
敖江五中	alumni.163.com/alumni/classlist.jsp?prov=9&schid=932322&schname=%C6%BD%D1%F4%B0%BD%BD%AD%CE%E5%D6%D0
敖江五中7年级	www.ysyz.com/myweb/Article/ShowArticle.asp?ArticleID=951
敖江五中7年级	tieba.baidu.com/f?kz=311396552
敖江五中7年级	tieba.baidu.com/f?kz=196536070