辱华	finance.tom.com/1327/2004129-122987.html
辱华	zhidao.baidu.com/question/30933357.html
辱华	you.video.sina.com.cn/b/7005995-1319062611.html
辱华事件	v.youku.com/v_show/id_ca00XMzI0MDc3Ng==.html
辱华事件	article.pchome.net/content-420253.html