Norajo-Day+It+Take(Remix)	ting.666ccc.com/song_words/89845.html
Norajo-Day+It+Take(Remix)	www.666ccc.com/song_words/89845.html
Norajo-Day+It+Take(Remix)	dj520.cn/main_dj/dj/7046.html
Norajo-Day+It+Take(Remix)	www.9t2t.com/play/83014.htm
Norajo-Day+It+Take(Remix)	img.5ilog.com/cgi-bin/sys/link/song.aspx/125446.htm
Norajo-Day+It+Take(Remix)	www.yue365.com/getgeci/2235/45538.shtml
Norajo-Day+It+Take(Remix)	zhidao.baidu.com/question/31381425.html?si=5
Norajo-Day+It+Take(Remix)	www.f130.com/song/4471/60081.htm
Norajo-Day+It+Take(Remix)	www.musicstone.net/enjoy_singer.php?singer=Norajo
Norajo-Day+It+Take(Remix)	new.real2000.org/html/song/62/185656.html
Norajo-Day+It+Take(Remix)	www.mtvtop.net/music/179/179344.htm?wma
Norajo-Day+It+Take(Remix)	0920.cn/listgc.asp?id=87903
Norajo-Day+It+Take(Remix)	music.qq.com/portal_v2/static/album/68/album_31968.html
Norajo-Day+It+Take(Remix)	www.eou.cn/play.asp?id=71196
Norajo-Day+It+Take(Remix)	www.bcoffee.net/special/BE8DC14F211D9C5B.html
Norajo-Day+It+Take(Remix)	www.99music.net/play/102119.html