在线淮剧免费下载	07.yangju.cn/bbs/dispbbs.asp?boardID=7&ID=834&page=1
盐城淮剧	www.tudou.com/programs/view/iLGNLXeBkQQ/
盐城淮剧	www.tudou.com/programs/view/iLGNLXeBkQQ/
淮剧在线看	www.vzhangmen.com/play1eec0308354b72fd.html