游戏	click.cpc.sogou.com/bill_cpc?p=IkmgwhOmIhdwygNClpDll4BnlZllXvvslF3w6dTlDyISllllGz8Vl25n8EKSIdvfllllll==&q=cGlkPWh1YTUyMDAmcj0xMiZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.cbdgame.com/infos/xydt/20080430235441645.html
游戏	click.cpc.sogou.com/bill_cpc?p=IfJEj8Iv9gxwygNflpDll4BnlZllXvvslF3w6dTlDyISllllGz8Vl25n8EKSIdvfllllll==&q=cGlkPXhpYTIwMDgmcj0xMiZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.cbdgame.com/infos/xydt/20080430235441645.html