金融学（吉林大学）	www.yeahkey.com/edown/data/soft/20425.html
金融学（吉林大学）	www.gy16.net/soft/1/2006/20060521144.html
金融学（吉林大学）	bbs.examda.com/dispbbs.asp?boardID=97&ID=93563&page=5
金融学（吉林大学）	bbs.kaoyan.com/thread-2092436-1-1.html