万科财务分析报告	www.365report.com/report/reportview26074.htm
万科财务分析报告	quote.stockstar.com/stock/company/quarter.aspx?code=000002&mk=2&qType=2&col=2
万科财务分析报告	stock.tswc.tv/pages/articles/eco_report/2007-08-28/250303.html
万科财务分析报告	www.cnstock.com/paper_new/html/2007-05/10/content_53345019.htm
建设银行财务分析报告	www.cifmorg.org/show.aspx?id=277&cid=23
建设银行财务分析报告	www.chinacir.com.cn/report/2008324102749.shtml