2008年美元存款利率查询	info.china.alibaba.com/news/detail/v5-d1001366363.html
2008年美元存款利率查询	www.gutianxia.com/news/gncj/75851.htm
2008年美元存款利率查询	edu.qq.com/a/20080331/000052.htm
2008年美元存款利率查询	www.cmbchina.com/personal+business/products/invest/sunflower/8818/