印尼残害女华人+图片	www.tianya.cn/new/publicforum/Content.asp?strItem=worldlook&flag=1&idArticle=111617
印尼残害女华人+图片	blog.sina.com.cn/s/blog_4a4a317301008xto.html
视频印尼残害女华人	www.lygame.com/dzbbs/viewthread.php?tid=32418