沈国放+间谍	news.qq.com/a/20060425/
沈国放+间谍	forum.dragonsky.net/dispbbs.asp?boardid=5&id=95408&star=1&page=1
沈国放美国间谍	news.qq.com/a/20060425/
沈国放美国间谍	www.china.com.cn/zhuanti2005/txt/2001-04/15/content_5029113.htm