HTC+Wi-Fi+EDGE	bbs.0514.com/redirect.php?fid=6&tid=2189&goto=nextnewset
HTC+Omni	article.pchome.net/content-397975.html
HTC+Omni评测	www.goto133.com/bbs/simple/index.php?t120731.html
HTC+Omni评测	mobile.northeast.cn/system/2007/07/11/050888734.shtml
HTC+Omni评测	news.danawa.com.cn/20070712/302941.html
HTC+Omni评测	bbs.958shop.com/topic-109079.html
多普达Wi-Fi+EDGE	www.ccw.com.cn/mobile/hqbj/htm2006/20060621_192353.htm
HTC手机	article.pchome.net/content-428364.html
HTC手机	product.yesky.com/catalog/0/8285/index.shtml
HTC手机	www.pcpop.com/mobile/brand01100.htm