李亚鹏与王菲的照片	luyao1983.blog.sohu.com/28908675.html
王菲李亚鹏游苏州照片	www.vist.com.cn/Article/yule/gouzi/200710/11633.html
王菲李亚鹏游苏州照片	www.ku6.com/show/N6GtE7x3dQpO0T2d.html
王菲李亚鹏游苏州照片	www.dahe.cn/xwzx/yl/jdt/t20071029_1184770.htm
王菲李亚鹏游苏州照片	msn.ent.ynet.com/view.jsp?oid=24954135
徐子淇面相	zhidao.baidu.com/question/36885393
徐子淇面相	news.sohu.com/20070312/n248665605.shtml