kiss88	www.fzlbb.com/fzl/fzljm/20071220/1466_2.html
11.sese	www.doubuli.cn/
11.xp欧美区	bbs.tainfo.net/ss/?uid-244658-action-viewspace-itemid-7032
小说区+欧美区	www.lmjdv2.com/bbs/dispbbs.asp?boardid=7&ID=171&replyID=171&skin=1
小说区+欧美区	idazhe.taixing.cn/bbs/dv_rss.asp?s=xhtml&boardid=2&id=2918&page=2