核桃种植得措施	ludian.mofcom.gov.cn/aarticle/zhongyaozt/200710/20071005190764.html
核桃种植得措施	yunnan.mofcom.gov.cn/aarticle/sjdixiansw/200712/20071205292346.html
核桃种植得措施	www.ynagri.gov.cn/nyrd/readinfo.asp?B1=40816&StateID=&MenuID=0901