美军审讯越南女战俘	xzd.2000y.net/mb/1/ReadNews.asp?NewsID=547170
美军审讯越南女战俘	bbs.hnol.net/topic-832263-1-1.html
美军审讯越南女战俘	www.4yan.net/phpwind/simple/index.php?t15474.html
美军审讯越南女战俘	66.90.68.150/forum/archiver/tid-383633.html
美军审讯越南女战俘	bbs.voc.com.cn/archiver/tid-229179.html
美军审讯越南女战俘	groups.myspace.cn/bbs_thread.php?groupID=106544143&ThreadID=1500024682
美军审讯越南女战俘	bbs.sycatv.net/archiver/tid-33096.html
美军审讯越南女战俘	tom5105.spaces.live.com/blog/cns!7449CDC32184F140!139.entry