小额贴息贷款是否征收营业税	news.cnlist.com/CnlistNewsDetail.aspx?tablename=DTLMB&GUID=%7B38B4B8AF-9FB9-11D7-965B-00A0C92674A3%7D
小额贴息贷款是否征收营业税	www.jbbjcc.cn/lunwen/lunwen/200611/127978.html
小额贴息贷款是否征收营业税	www.chinatax.gov.cn/mail/mulu/gb200601.htm
小额贴息贷款是否征收营业税	www.tzlawbook.com/BookInfo.asp?ID=25111
妇联贷款贴息政策	www.51caikuai.cn/difangcaikuai/guangdong/guangdongguoshui/42870.html