数码相机	click.cpc.sogou.com/bill_search?p=XiXZaiP5sVqwygNAlxDllxTAlyll4C$mlFwXw2iYsliNllllwSRvltrdZms5casfllllll==&q=cGlkPXNvZ291JnI9MTMmaD0xNjg0NDQ3MjAmdj0xJmM9TAA=&url=http://smartkeyword.allyes.com/main/adfclick%3Fdb=smartkeyword%26bid=1,103,4%26cid=1,0,0%26kv=kvid/259593%26show=ignore%26url=http://www.sonystyle.com.cn/products/cyber-shot/index.htm%3FfrmURL=dsc-t300%3Fpid=sogou
数码相机	product.pcpop.com/DC/00000_1.html
数码相机	www.enet.com.cn/dc/