2008高考理综模拟试卷	www.zxxk.com/Html/Channel_19/71/58286220080226152800.Html
2008高考理综模拟试卷	www.xkwx.com/Article/ArticleShow.asp?ArticleID=137498
2008高考理综模拟试卷	www.xkwx.com/Article/ArticleShow.asp?ArticleID=137498
2008高考理综模拟试卷	down183.zxxk.com/Channel_22/GaoKaoList.asp?ChannelID=19&ClassID=71&page=3
2008高考理综模拟试卷	down183.zxxk.com/Channel_22/GaoKaoList.asp?ChannelID=19&ClassID=71&page=3
2008高考理综模拟试卷	down183.zxxk.com/Channel_22/GaoKaoList.asp?ChannelID=19&ClassID=71&page=3
2008高考理综模拟试卷	down183.zxxk.com/Channel_22/GaoKaoList.asp?ChannelID=19&ClassID=71&page=3
2008高考理综模拟试卷	down183.zxxk.com/Channel_22/GaoKaoList.asp?ChannelID=19&ClassID=71&page=3
2008高考理综模拟试卷	down183.zxxk.com/Channel_22/GaoKaoList.asp?ChannelID=19&ClassID=71&page=3