地震现场照片	www.17tech.com/plus/feedback.php?arcID=75390
地震现场照片	www.big38.net/
地震现场照片	club.friends.oeeee.com/bin/contentF.asp?aid=1023,,5860187,2
地震现场照片	www.ieenn.com/life/fazhi/200703/6266.shtml
地震现场照片	tieba.baidu.com/f?kz=392447096
地震现场照片	bbs.8jee.com/html/3/3/d/81879_1.html
地震现场照片	photo.sina.com.cn/photo/46dc8e0c06e1c1d534304