医疗	click.cpc.sogou.com/bill_cpc?p=orubTcPra5VwygbulxcllnrWlyll4OkVllbJQgzvP$BSllllGYkql23dZtb3ZrX3llllll==&q=cGlkPWNoZW5naHVpJnI9MSZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.bo-an.com/onemain.asp%3Fshowtype=lisenls%26rtit=%25C0%25EE%25CA%25A5%25C2%25C9%25CA%25A6
项目	click.cpc.sogou.com/bill_cpc?p=@$lp$XtgTePwygtqlxDlla@xlyllVEExll5UU4zvP$BSllllGzZqlG@meaMiTGRHllllll==&q=cGlkPTY2NzA1NTk1JnI9MSZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.bjdade.com/