电视	click.cpc.sogou.com/bill_cpc?p=3Lfk7jJNfaCwygtMlxcllx$TlyllVsElllnwgHmRt$ISllllGoAxlaX0CH1kHWK31dWo8naprGg9hWGlllll&q=cGlkPWFiYzEyMyZyPTgmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.showcooltv.com/
贷款	click.cpc.sogou.com/bill_cpc?p=EITtSTYLMKOwygWzlj9lljR6lZlxnZablFawxdmRt$ISllllGbhVlaX0CHLcd70aH5m@Eklllll=&q=cGlkPTY2NzA1NTk1JnI9OCZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.gzchengbang.com/