厕奴	www.douban.com/people/2310479/
厕奴	bjsmqueen.blog.sohu.com/84056978.html
厕奴文章	www.mmfoot.com/bbs/viewthread.php?tid=28650&pid=554421&page=1&extra=page%3D50
厕奴文章	9.douban.com/people/2310479/nine
厕奴文章	www.d2tt.net/dispbbs.asp?boardid=19&id=37544&star=1&page=1
厕奴文章	wazg2008.spaces.live.com/default.aspx