张雅	tv.mofile.com/tags/???\xa8\xa6??:0,1,20,1,0,0,audittime,0,
张雅	www.douban.com/note/11851963/?from=mb-35700956
张雅	www.17tech.com/plus/feedback.php?arcID=83849&nowpage=4
张雅	bbs.ganji.com/viewthread.php?tid=213609
张雅	www.haiguinet.com/news/2008/0527/article_31241.html
张雅	space.sina.com.cn/o0oo0o
张雅骂人视频	tieba.baidu.com/f?kz=389039103