印尼排华是怎么回事	zhidao.baidu.com/question/47218514
印尼排华是怎么回事	bbs.guilinlife.com/dispbbs.asp?boardID=36&ID=292630&page=1
印尼排华是怎么回事	ks.cn.yahoo.com/question/1406080107738.html
1998印尼排华事件	sp.tmh.com.cn/v/391285
1998印尼排华事件	wenwen.soso.com/z/q1205810.htm?pid=w.xg.ll