天津工业大学工程硕士招生	www.5igongwen.com/5iview-51368.html
天津工业大学\	www.tjpu.edu.cn/
天津科技大学工程硕士招生	edu.sina.com.cn/kaoyan/2007-07-12/091593018.shtml
天津南开区向阳小区租房	www.edeng.cn/data/china/tianjin/house/selloldhouse/2302701.html
天津南开区向阳小区房屋出租	tj.58.com/zufang/12829136x.shtml
０８年杭州房价走势	hz.focus.cn/news/2008-01-22/424521.html
０８年杭州房价走势	life.city917.com/show/17837