电脑	click.cpc.sogou.com/bill_cpc?p=Oc8OkUVmcaSwygKhljlllVLplZlx2fX1lFJx7F7$b8CSllllGzhVlagXe2FVc2pCllllll==&q=cGlkPWppYTAyMTYmcj04Jmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.sz-btesting.com/kcjs.html
酒店	click.cpc.sogou.com/bill_cpc?p=dQsSwlVg86VwygkPlxcllJz8lZlx2cNClFJfy87$b8CSllllGbjVlaR9ZDgRZa0KZEWMerg$8b8prllllll=&q=cGlkPWppYTAyMTYmcj04Jmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.mgmgrandmacau.com/SChi/MGM.html