速腾的首保时间	bbs.auto.sina.com.cn/tableforum/App/view.php?bbsid=113&subid=4&fid=82551&tbid=3495
速腾的首保时间	club.autohome.com.cn/070712/426007.html
速腾的首保时间	www.baa.com.cn/special/4s/20070615-suteng-1/index.shtml
速腾的首保时间	bbs.cztv.tv/Html/2008/3/15/20305439315.html
速腾的首保时间	www.66km.cn/review/car/Sagitar-06/1
速腾的首保时间	bbs.pcauto.com.cn/topic.jsp?tid=796220&pageNo=1
速腾的首保时间	club.auto.sohu.com/forum/viewthread.php?tid=520309