application+for+visiting+scholar	www.dzfy.com/mutual/forum_topic.jsp?id=2557
application+for+visiting+scholar	bbs.gter.ce.cn/bbs/viewthread.php?tid=742902&extra=page%3D2%26amp%3Bfilter%3Dtype%26amp%3Btypeid%3D336
application+for+visiting+scholar	bbs.gter.ce.cn/bbs/viewthread.php?tid=742902&extra=page%3D2%26amp%3Bfilter%3Dtype%26amp%3Btypeid%3D336
application+for+visiting+scholar	lilyinheaven.blog.sohu.com/43740612.html
application+for+visiting+scholar	sl.iciba.com/viewthread-44-351438-1.shtml
application+for+visiting+scholar	eng.hzu.edu.cn/yugan/ShowArticle.asp?ArticleID=35&ArticlePage=3
application+for+visiting+scholar	www.5doc.com/doc/41783