酒店	click.cpc.sogou.com/bill_cpc?p=VYNllDm7H8dwygNylxcllJz8lZlx2cNClFJfy8msfFISllllGbRClaR9ZDgRZa0KZEWMerg$8b8prllllll=&q=cGlkPTY2NzA1NTk1JnI9MTUmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.mgmgrandmacau.com/SChi/MGM.html