华国峰同志逝世	zhidao.baidu.com/question/46643385
华国峰同志逝世	blog.sina.com.cn/s/blog_4fc5ce7001008lk1.html
华国峰同志逝世	so.youku.com/search_playlist/q_%E5%8D%8E%E5%9B%BD%E5%B3%B0%E5%90%8C%E5%BF%97%E9%80%9D%E4%B8%96
华国峰同志逝世	bbs.ylmf.com/read.php?tid=664373&page=e&fpage=1