飞儿乐团+photo	profiles.friendster.com/57530999
飞儿乐团+photo	www.firbbs.com/dispbbs.asp?boardID=41&ID=7028&page=1
飞儿乐团+photo	www.firpark.net/bbs/thread.php?fid=23&type=4
飞儿乐团+photo	photo.aiyin.cn/PicList_724_0.htm