山东取消工商管理费	bbs.aicbbs.com/dispbbs.asp?boardid=39&id=137945&page=&star=4
山东取消工商管理费	bbs.dzwww.com/forum/detail.jsp?id=16271882
山东取消工商管理费	zhidao.baidu.com/question/51557737
山东取消工商管理费	wenwen.soso.com/z/q33267674.htm
山东取消工商管理费	news.xinhuanet.com/weekend/2006-06/30/content_4771120.htm