试论加强党的执政能力建设重要意义	www.dianliang.com/lunwen/wenke/fx/200510/lunwen_707.html
试论加强党的执政能力建设重要意义	www.66wen.com/03fx/faxue/faxue/0685/19252_4.html
试论加强党的执政能力建设重要意义	blog.sina.com.cn/s/blog_560fba7801007wyn.html