传奇X	auto.tom.com/2007-01-04/0010/05410327.html
传奇X	www.315che.com/news/31860_1.aspx
传奇X	www.yuntaiw.com/qiche/2007/200701/287764.html
传奇X	news.chinacars.com/dbxnxb/cq/201332.shtml
传奇X	gz.bitauto.com/html/brand/photo/photo_10031006.shtml