姚明暴打科比	news.sohu.com/20070401/n249115330.shtml
姚明暴打科比	www.xkli.com/bbs/redirect.php?fid=12&tid=183&goto=nextnewset
姚明暴打科比	v.youku.com/v_show/id_ce00XMTI1MTgwNDQ=.html
姚明暴打科比	sports.enorth.com.cn/system/2007/10/16/002156615.shtml