π水	bbs2.nnsky.com/dispbbs_294_3508746.html
π水	chem.njxzc.edu.cn/dmhx/Article_Show.asp?ArticleID=1456
π水论坛	bbs.enet.com.cn/thread-2899859-1-9.html
π水论坛	bbs.yiyaotong.com/thread-2616-1-20.html
π水论坛	home.focus.cn/msgview/1885/33034308.html