酒店	click.cpc.sogou.com/bill_cpc?p=9dGXgZYgEUewygPxlxcllJz8lZlx2cNClFJfyTXJjcNSllllGbjVlaR9ZDgRZa0KZEWMerg$8b8prllllll=&q=cGlkPWNoZW5naHVpJnI9OCZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.mgmgrandmacau.com/SChi/MGM.html