中华骏捷1.8	www.che168.com/che168/cardb/litros/litros_611.html
中华骏捷1.8	www.scar.com.cn/carused/used-car-detail-129585.html
中华骏捷1.8	car.autohome.com.cn/photo/2034/1/91127.html
中华骏捷1.8	product.xgo.com.cn/china/index107505.shtml
中华骏捷1.8	detail.zol.com.cn/car/2668/107505/param.shtml
中华骏捷1.8	zhidao.baidu.com/question/29684102.html
中华骏捷1.8	zhidao.baidu.com/question/26802272
中华骏捷1.8	iask.sina.com.cn/b/11051207.html
中华骏捷1.8	detail.zol.com.cn/china/index107526.shtml