朱孝天+简介	www.hotjuqing.com/chuliuxiangchuanqi/yanyuan-zhuxiaotian-5.html
朱孝天+简介	entertainment.northeast.cn/system/2007/07/27/050911137.shtml
朱孝天+简介	star.ent.mop.com/starnews/hk_tw/2007-06-14/56769.shtml