Ulead+Cool+3D+Production+Studio+1.0	hot.yikuai.com/info_33501.html
Ulead+Cool+3D+Production+Studio+1.0	www.verycd.com/files/c557bb629355fba4bd80cc7d76fd6f3e228845568
Ulead+Cool+3D+Production+Studio+1.0	zhidao.baidu.com/question/3984843
Ulead+Cool+3D+Production+Studio+1.0	www.3y3y.com/html/211/2985.html