救灾物资遭到哄抢	bbs.cnwest.com/viewthread.php?tid=33799
救灾物资遭到哄抢	military.club.china.com/data/thread/1011/2015/13/49/6_1.html
救灾物资遭到哄抢	bbs2.nnsky.com/dispbbs_32_4769606.html
哄抢救灾物资照片	www.17tech.com/news/20080531107270.shtml