中药治疗溶血葡萄球菌	www.120ask.com/Question/2005-10-23/226150.shtml
中药治疗溶血葡萄球菌	www.120ask.com/Question/2005-10-23/226150.shtml
中药治疗溶血葡萄球菌	www.qlxzj.com/bbs/dispbbs.asp?boardid=23&id=11237&star=7&page=1
中药治疗溶血葡萄球菌	www.ilib.cn/Periodical.Articles/tjzy/2004/05/tjzy200405021.html