土匪对女战俘暴行	bbs.tiexue.net/post2_2056817_1.html
土匪对女战俘的酷刑	www.tianya.cn/new/publicforum/content.asp?stritem=no17&flag=1&idarticle=10699&idwriter=0&key=0
土匪对女战俘的酷刑	www.1history.cn/viewthread.php?tid=14858