酒店	click.cpc.sogou.com/bill_cpc?p=8YCcduzzErPwygKTlxcllJz8lZlx2cNClFJfyTO99LISllllGbpClaR9ZDgRZa0KZEWMerg$8b8prllllll=&q=cGlkPXhpYTIwMDgmcj0yNyZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.mgmgrandmacau.com/SChi/MGM.html