大s和小s的照片	bbs.dongfeng.net/cgi-bin/topic.cgi?forum=25&topic=27129&show=0&man=%BB%D2%C9%AB%BF%D5%BC%E4
大s和小s的照片	life.wuhan.net.cn/c41192.aspx
大s和小s的照片	tt.mop.com/club/read_105402.html
大s和小s的照片	www.ieenn.com/star/hktw/200709/10773.shtml
大s和小s的照片	zhidao.baidu.com/question/7057514.html