小儿咳不停	tech.sina.com.cn/other/2006-12-14/0517189002.shtml
小儿咳不停	www.100md.com/html/DirDu/2007/01/22/38/09/53.htm
小儿咳不停	ask-test.39.net/erkzhsh/topic-812546.html
小儿咳不停	web.xwwb.com/wbnews.php?db=18&thisid=86830