autocad+2000英文版	iask.ent.sina.com.cn/b/6409917.html
autocad+2000英文版	www.72home.com/bbs/archiver/?tid-621350.html
autocad+2000英文版	bbs.pczero.cn/thread-799-1-15.html
autocad+2000英文版	zhidao.baidu.com/question/4363762
autocad+2000英文版	board.verycd.com/t277356.html
autocad+2000英文版	www.itads.cn/Product/516/51699.html
autocad+2004英文版	zhidao.baidu.com/question/6032051.html
autocad+2004英文版	iask.sina.com.cn/b/11248772.html