信用证的格式	knowledge.cnexp.net/waimao-qihuo-shichang/09_26_44_818.htm
信用证的格式	zhidao.baidu.com/question/38727082
信用证MT700	sy19.blog.sohu.com/64466752.html
信用证MT700	zhidao.baidu.com/question/17280570
信用证MT700	forum.globalimporter.net/view_topic/n11101108-140299-1.htm
信用证MT700	bbs.fobshanghai.com/thread-311610-1-1.html
信用证MT700	fob.helper8.com/waimao55/50805.html
信用证MT700	bbs.wtojob.com/bbs/bbs_3974.shtml
LC+MT700	bbs.fobshanghai.com/thread-311610-1-1.html