地震现场照片	www.17tech.com/news/20080531107631.shtml
地震现场照片	club.friends.oeeee.com/bin/contentF.asp?aid=1023,,5860187,2
地震现场照片	club.sports.sohu.com/r-basketball-1645125-0-33-10.html
地震现场照片	qiyiban71.blog.sohu.com/87419698.html