旦角甩发	www.jingjuok.com/bbs/html/2007-4-8/511108471053.html
旦角甩发	www.jingjuok.com/bbs/html/2007-4-8/511108471052.html
旦角甩发	bbs.s99m.com/simple/index.php?t96166.html
旦角甩发	www.heylin.idv.tw/xoops/modules/newbb/viewtopic.php?viewmode=flat&type=&topic_id=38&forum=2