试驾奥迪a6l2.4	tt.mop.com/club/read_112190.html
试驾奥迪a6l2.4	www.atbag.com/html/car/carploy/20070329106657.html
试驾奥迪a6l2.4	www.sinocars.com/sinocarnews/docnews/655532/2006/12/n170871.shtml
试驾奥迪a6l2.4	bbs.auto.sina.com.cn/tableforum/App/view.php?bbsid=112&subid=1&fid=6304&tbid=7954
试驾奥迪a6l2.4	auto.21tx.com/2006/02/23/11596.html
试驾奥迪a6l2.4	sz.cnefs.com/oyaa/articleview/2007-4-14/article_view_4218.htm