本田250	v.youku.com/v_show/id_cn00XMTM1ODg0OA==.html
本田250	zhidao.baidu.com/question/750111.html?fr=qrl3
本田250	zhidao.baidu.com/question/750111.html?fr=qrl3
本田250	zhidao.baidu.com/question/12074831
本田250	www.gy2sc.com/files/20070630/8003.asp
本田250	bj.58.com/danche/14724003x.shtml
摩托论坛	motorcycle.sh.cn/