透视时装	tv.mofile.com/CG53BOGZ/
透视时装	www.ku6.com/show/Dts4CJuwU1SEMeDN.html
透视时装	dv.ouou.com/play/v_38d7f2de62a43.html
透视时装	www.tudou.com/programs/view/Je5B7RuYON0/
透视时装	fashion.phoenixtv.com/34234/593/594/200710/1023_1788_269707.shtml