逝世	jczs.news.sina.com.cn/2006-12-17/0624419992.html
2008年逝世将军	www.jjzy.cn/bbs/read.php?tid=29564&fpage=1
2008年逝世将军	www.jjzy.cn/bbs/read.php?tid=29564&fpage=1
2008年逝世将军	www.chinajunzheng.com/bbs/read.php?tid-3238-page-2-fpage-1.html
2008年逝世将军	www.chinajunzheng.com/bbs/read.php?tid-3238-page-2-fpage-1.html