sonycd机	www.guaishow.com/u/blacksuperman/g5945/
sonycd机	zhidao.baidu.com/question/25132937
sonycd机	www.eelii.com/Personal/x1043682.shtml
sonycd机	wh.ganji.com/html/wuhan/secondmarket/3/41397.htm
sonycd机	www.comhuan.com/Products/ProductDetail.aspx?ItemID=20070113831003