1998年印尼排华事件	chenr168.blog.sohu.com/3124660.html
1998年印尼排华事件	www.tianya.cn/publicforum/Content/no17/1/19588.shtml
1998年印尼排华事件	www.zuixian.net/viewthread.php?tid=745&extra=page%3D11
1998年印尼排华事件	lmper.blog.163.com/blog/static/112509620080102916867
1998年印尼排华事件	www.m6auto.com/bbs/redirect.php?fid=53&tid=86082&goto=nextnewset
1998年印尼排华事件	club.autohome.com.cn/bbs/thread-c-579-1058838-1.html
1998年印尼排华事件	bbs.neteasy.cn/showthread.php?t=126187&goto=nextnewest