银河英雄传说4	game.17dm8.com/software.asp?id=76
银河英雄传说4	bbs.kuankuan.com/viewthread.php?tid=224487
银河英雄传说4	bbs.ktkj.com/viewthread.php?tid=2902749&extra=page%3D30
银河英雄传说4	bbs.kuankuan.com/viewthread.php?tid=224487
银河英雄传说4	www.kkwww.com/html/list/0100325.html
银河英雄传说4	db.2u.com.cn/summarize1337.html