瓦良格号航母下水	www.xiaofanbbs.com/thread-1461-1-4.html
瓦良格号航母下水	jczs.news.sina.com.cn/p/2007-02-17/0831431817.html
瓦良格号航母下水	jczs.news.sina.com.cn/2005-04-11/0825280000.html
瓦良格号航母下水	bbs.tiexue.net/post2_2041055_1.html