哄抢救灾物资	news.21cn.com/social/daqian/2008/05/29/4777194_1.shtml
哄抢救灾物资	www.17tech.com/news/20080531107270.shtml
哄抢救灾物资	bbs.tiexue.net/post2_2788287_1.html
哄抢救灾物资	bbs.tiexue.net/post2_2788287_1.html
哄抢救灾物资图片	www.skykiwi.com/news/view.article.php?60468/c16