华国峰同志逝世	bbs.ylmf.com/read.php?tid=664373&page=e&fpage=1
华国峰同志逝世	53674.234m.com/2008512/1570.html
华国峰同志逝世时间	blog.sina.com.cn/s/blog_4fc5ce7001008lk1.html
华国峰同志逝世时间	bbs.ylmf.com/read.php?tid=664373&page=e&fpage=1
华国峰同志逝世时间	bbs.zh5000.com/bbs/2008-02-03/172139260.html