装饰	click.cpc.sogou.com/bill_cpc?p=e0X76ZUzPpBwygKxlxcllR4NlZlx5GmElF3cW2mq4mVSllllGzCVlapes$Xg7GrnhWADe7gk1bUlllll&q=cGlkPWppYTAyMTYmcj0yMCZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.shijuezhilv.cn/
游戏	click.cpc.sogou.com/bill_cpc?p=Gv8usUMpEaVwygKdlpDll4BnlZllXvvslF3w6dmq4mVSllllGzCVl25n8EKSIdvfllllll==&q=cGlkPTY2NzA1NTk1JnI9MjAmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.cbdgame.com/infos/xydt/20080430235441645.html