军区参谋长是什么军衔	zhidao.baidu.com/question/14401462.html?si=4
军区参谋长是什么军衔	bbs.tiexue.net/post2_2348153_1.html
军区参谋长是什么军衔	iask.sina.com.cn/b/2027517.html?from=related
军区参谋长是什么军衔	bbs.tiexue.net/post2_2576834_1.html
军区参谋长是什么军衔	wenwen.soso.com/z/q35289637.htm