地震带	zhidao.baidu.com/question/31555291.html
西安地震带	news.xian.soufun.com/2008-5-29/1790426.htm
西安地震带	hkrslw1.blog.sohu.com/88612817.html
西安地震带	starmen.blog.sohu.com/88430316.html
西安地震带分布图	news.xian.soufun.com/2008-5-29/1790426.htm
汾渭河谷	www.hbtv.com.cn/misc/2005-11/26/content_574336.htm
汾渭河谷	www.gov.cn/ztzl/prdz/content_635516.htm