海尔+对讲机	article.pchome.net/content-400173.html
对讲机俱乐部	www.007day.com/bbs/TopicOther.asp?t=5&BoardID=10&id=5587
对讲机俱乐部	www.dyjf.com/bbs/dispbbs.asp?boardid=3&id=2430&star=1&page=1
对讲机俱乐部	bbs.hualongxiang.com/redirect.php?tid=4341391&goto=lastpost
摩托罗拉对讲机	www.nowadays.biz/motorola.html
摩托罗拉GP2000对讲机俱乐部	www.hellocq.cn/bbs/TopicOther.asp?t=5&BoardID=4&id=3514
摩托罗拉gp2000	product.it168.com/detail/doc/26854/index.shtml
摩托罗拉gp2000	product.it168.com/detail/doc/26854/index.shtml
摩托罗拉gp2000	product.yesky.com/product/93/93039/
摩托罗拉gp2000	www.asklight.com/article/Folder4/20070418/77397.Html
摩托罗拉gp2000	detail.zol.com.cn/77/76069/price.shtml
摩托罗拉gp2000	www.b168.com/info/15501.htm