大盘	click.cpc.sogou.com/bill_cpc?p=Rv87qSoYMzdwygbnlxcllxs1lZlx5UEClFaPZ2oYAUJSllllGbCVlaXJerp1DDgGCd@3eklllll=&q=cGlkPWdnbW1kMTIzJnI9MjAmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.588588gp.com/sohu.htm
工艺品	click.cpc.sogou.com/bill_cpc?p=RKYk3ga1uI2wygt$lxcllRrFlylxGF6ilFwnkdoYAUJSllllGYqVlaTZ7$LiI2aqertlllll&q=cGlkPWhsamhlZ2FuZyZyPTIwJmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.njjljb.com/product_1.html