最经典的几句话	wenwen.soso.com/z/q37198759.htm
最经典的几句话	cache.tianya.cn/publicforum/content/free/1/617359.shtml
最经典的几句话	xk.cn.yahoo.com/articles/070724/1/1m2w.html
最经典的几句话	wpgmk.blog.sohu.com/44433505.html
最感人的几句话	zhidao.baidu.com/question/30828187.html
最感人的几句话	wenwen.soso.com/z/q756589.htm
最感人的几句话	www.10zj.com/forum/archiver/tid-11833.html
最感人的几句话	bbs.zol.com.cn/index20070622/index_65_69134.html
最感人的几句话	bbs.leobbs.com/cgi-bin/printpage-1-144579.htm
最感人的几句话	handunyunping.blog.sohu.com/17822748.html
最感人的话	zhidao.baidu.com/question/30422461.html
最感人的话	wenwen.soso.com/z/q56342146.htm