土匪浮虏的女军人	janesue19771114121.spaces.live.com/
土匪浮虏的女军人	longlongbigbig.bokee.com/
土匪对女战俘暴行	bbs.tiexue.net/post2_2056817_1.html
土匪对女战俘暴行	html.hjsm.tom.com/html/book/0/50/0c4b4d94e,9081.htm
女战俘酷刑图片	www.enet.com.cn/article/2006/0802/A20060802153527.shtml