贷款	click.cpc.sogou.com/bill_cpc?p=v5K@fff3Rl2wygWwlxcllJi3lZllX511lJ6Ad41AmL2SllllGBlqlapes$ui$EsdsKj1ME@mllllll==&q=cGlkPTY2NzA1NTk1JnI9MSZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.zzbj.cn/fund/index.asp
化妆	click.cpc.sogou.com/bill_cpc?p=uMRCrSyI@sPwygKWlj9llRanlyllphPVllqg7g1AmL2SllllGzlqlG5lh2LErdWellllll==&q=cGlkPWRvbmdidDY4OCZyPTEmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.zgcmr.com/
水果	click.cpc.sogou.com/bill_cpc?p=ODQ5tcuL7NiwygKDlxclll8qlZlxnnvqlF3IdT1AmL2SllllGzlql2Fjs$LhmEgT7dF377n1hffiMZlllll=&q=cGlkPXhpYTIwMDgmcj0xJmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.bjtqyy.com/yjjb/Index.html