ATI+RADEON+XPRESS+200+Series	h50176.www5.hp.com/support/RR007PA/more_info_soar_vc-52934-1.html
ATI+RADEON+XPRESS+200+Series	www.mydown.com/driver/238/238570.html
ATI+RADEON+XPRESS+200+Series	bbs.pcpop.com/080323/1154710.html
ATI+RADEON+XPRESS+200+Series	www.mydown.com/driver/238/238570.html