地震前奇异天象	t--25.blog.sohu.com/87895365.html
地震异常天象	you.video.sina.com.cn/b/13456586-1255926410.html
地震异常天象	bbs.cn.yahoo.com/message/read_-bWVpcmltaWFvZGE=_230387.html?source=LA
地震异常天象	bbs.cnhubei.com/dispbbs.asp?boardID=36&ID=1189850&page=1
地震异常天象	www.ptsdz.com/gckz/16.doc