高楼遇到地震怎么办	qun.51.com/city1738/topic.php?pid=6189&page=1&dust2=
高楼遇到地震怎么办	ks.cn.yahoo.com/question/1306071501807.html
地震+高楼怎样塌	www.qxzc.net/qxkj/kpyd/kp2/z4.htm
地震+高楼怎样塌	fengyufirm.blog.sohu.com/87351639.html