陕西中贸房地产开发有限公司	www.hunt007.com/xian/employer/viewInfo/982794.htm
陕西中贸房地产开发有限公司	www.lawon.cn/law/viewDetail.jsp?id=101945
陕西中贸房地产开发有限公司	www.lawon.cn/law/viewDetail.jsp?id=101945
陕西中贸房地产开发有限公司	www.sn.xinhuanet.com/2007-04/20/content_9846147.htm