沈阳房价暴跌	www.qudian.com/20070912/?2?\xa8\xa6?3?????\xa1\xa4??\xa1\xe4\xa8\xa8\xa1\xa4?/
沈阳房价暴跌	3811.any2000.com/ger/zhmodel/model02/viewarticle.asp?userid=789150&lanmuid=5820580&contentID=1107239
沈阳房价暴跌	syrent.bokee.com/viewdiary.22153362.html
北京房价暴跌	bbs.bato.cn/viewthread.php?tid=327076
北京房价暴跌	people.rednet.cn/PeopleShow.asp?ID=115437