2008年文综模拟试题	imlong.net/index.asp?id=497751933
2008年安徽省高考模拟试卷下载	www.flacai.com/sjdown/ShowSoft.asp?SoftID=130867
高考文综模拟	www.3edu.net/tk/ShowSoft.asp?SoftID=52899
高考文综模拟	exam.hengqian.com/html/2008/4-10/r19318884.shtml
高考文综模拟	www.dearedu.com/search/0201028/rs1.html