明星捐款排行榜	www.17tech.com/plus/feedback.php?arcID=75770&urlindex=77405&feedid=42&action=show&totalresult=6007&nowpage=2
明星捐款排行榜	yulechengbao.bbs.cctv.com/viewthread.php?tid=291921&extra=&page=1
明星地震捐款排行榜	blog.tom.com/moguixiaojieba/article/2804.html