郑元畅+绯闻	comment.jmnews.com.cn/comment/list.aspx?data_id=351042
郑元畅+绯闻	comment.jmnews.com.cn/comment/list.aspx?data_id=351042
郑元畅+绯闻	ent.qq.com/a/20080125/000226.htm
郑元畅+绯闻	ent.qq.com/a/20080125/000226.htm