通信	click.cpc.sogou.com/bill_cpc?p=Twm2Pdho4LNwygN3lxcllGshlZlx5QnClFaKLd8j1KNSllllGYFVlahshar2$2RV8Eg27Zlllll=&q=cGlkPWppYTAyMTYmcj0xMiZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.hyt.com.cn/Cn/pros.asp%3Flb=3