双刀教程	www.pcgames.com.cn/netgames/zhuanti/djonline/jyxd/0708/927366.html
双刀教程	blade.sohu.com/20051017/n227226307.shtml
双刀教程	wz.yoozhe.com/news/youzhe_169504.htm
双刀教程	article5.17173.com/content/126/2005-10-16/n539_455254.html
双刀教程	dv.ouou.com/play/v_e42b6f8dff5c4.html
双刀教程	bbs.2u.com.cn/archiver/tid-77959.html
双刀教程	www.eduvcd.com/Shop/jianshentiyu/200608/Shop_498.html
双刀教程	sp.kissba8.com/videolist/play/1017438
双刀教程	www.oplay.com/info/content/2748.htm
双刀教程	bbs.16xx8.com/thread-20508-1-1.html
双刀教程	www.gztjq.com/showcourse.asp?id=38
双刀教程	bbs.2u.com.cn/archiver/tid-77959.html
双刀教程	www.toodou.com/programs/view/fajutc9gAvk/