汶川+地震+自然+影响	www.zaobao.com/finance/pages1/comment080516.shtml
汶川地震对经济的影响	biz.cn.yahoo.com/special/dizhenjingji/index.html
汶川地震对经济的影响	www.nxnet.net/guonei/jdzt/200805/t20080529_227579.htm
汶川地震对经济的影响	www.zaobao.com/finance/pages1/comment080516.shtml
汶川地震对经济的影响	news.qianlong.com/28874/2008/05/29/2502@4466838.htm
汶川地震对经济的影响	www.chinanews.com.cn/cj/kong/news/2008/05-13/1248449.shtml