李玉妹近况	www.cf158.com/Article_Show.asp?ArticleID=4183&ArticlePage=22
王菲简历	ks.cn.yahoo.com/question/1306102519465.html
赵普简历	ent.tom.com/1335/1588/2004419-75751.html
刘晓庆简历	www.ejobshow.com/hrtools/resume/liuxiaoqing.html