chinese+star+pinyin+software	www.chinesesoftware.com/d_chinese_star.html
chinese+star+pinyin+software	www.hanwj.com/main.htm
chinese+star+pinyin+software	www.chinese-software.com/
中文之星拼音+software	download.it.com.cn/softweb/software/utiliy/ime%5C200412%5C6212_1.html