徐娜	www.womanfriend.com/knowledge/zyzj/200805/18947.html
徐娜	www.xici.net/b103826/d71296674.htm
徐娜事件	bbs.tiexue.net/post2_2786194_1.html
徐娜事件	www.17tech.com/plus/feedback.php?arcID=75618&nowpage=1
徐娜事件	bar.sina.com.cn/thread.php?tid=2150930002&bid=1934
徐娜事件	dzh.mop.com/topic/main/readSubMain_8403119_0.html