大智慧证券软件	www.dzh5.com/
大智慧证券软件	book.sinoeb.cn/?\xa1\xe8\xa8\xa8\xa1\xa5/\xa1\xe4\xa8\xae?????\xa1\xe8\xa8\xa8\xa1\xa5\xa8\xa8\xa8\xaa?t????.html
大智慧证券软件	www.rjqun.com/Soft/office/200706/303.html
大智慧证券软件	www.mydown2008.com/nShow_id_0709111455124.asp
大智慧证券软件	www.onlinedown.net/soft/2260.htm