易容术男扮女装	bbs.sjtu.edu.cn/bbscon?board=Deutsch&file=M.995069013.A
易容术男扮女装	www.shulou.com/modules/article/txtarticle.php?id=45144
易容术男扮女装	bbs.5026789.com/archiver/?tid-3261.html
易容术男扮女装	wuxia.1stbook.net/wuxia/xuans/thmr/taohmr06.html
易容术男扮女装	www.hljnews.cn/gb/content/2004-06/13/content_196069.htm
易容术男扮女装	html.hjsm.tom.com/html/book/27/929/6cc85b4bd,cfa1.htm