抵押	click.cpc.sogou.com/bill_cpc?p=JeiddbMrCjewygKZlxDllJi3lZlxGDIIlJ6kCdTzwZqSllllGBlqlagQ1b$1ME@mllllll==&q=cGlkPWRvbmdidDY4OCZyPTEmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.zzbj.cn/Bank/zonghe.asp
酒店	click.cpc.sogou.com/bill_cpc?p=LB8n$uLsUqHwygKilVtllJK6lZlxnmiRlFa44NTzwZqSllllGbyvlaEpHWolllll&q=cGlkPWNoZW5naHVpJnI9MSZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.yahoosme.com/tdzx079/1.html