马英九的政治主张	news.xinhuanet.com/taiwan/2005-06/27/content_3141069.htm
马英九的政治主张	www.tianya.cn/publicforum/Content/news/1/70880.shtml
马英九的政治主张	fass.net.cn/fassNews/fass_readnews.asp?NewsID=1359
吴伯雄	www.ycwb.com/xkb/2007-03/12/content_1410828.htm
吴伯雄	www.huaxia.com/xw/dl/2008/00813681.html
吴伯雄	www.china.com.cn/news/txt/2008-05/28/content_15522110.htm