浙江百强企业	zjnews.zjol.com.cn/05zjnews/system/2006/06/07/006662287.shtml
浙江外贸百强企业	news.wtojob.com/trader-zhejiang.shtml
浙江外贸百强企业	www.rjxj.com.cn/News/2007/19803.shtml
浙江外贸百强企业	www.nanhu.gov.cn/_sites/jmj/article_display.jsp?articleid=30601&boardpid=989
宁波宁兴国贸实业有限公司	www.foxbao.com/baoshiyushi/20070411004847_152684/
宁波宁兴国贸实业有限公司	www.kompass.com/zh/CN090024