游戏	click.cpc.sogou.com/bill_cpc?p=1ymhLDyGoSOwygNMlpDll4BnlZllXvvslF3w6TIkU@2SllllGz1Ol25n8EKSIdvfllllll==&q=cGlkPWppYTAyMTYmcj0xOCZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.cbdgame.com/infos/xydt/20080430235441645.html