布林线参数设置	www.51.la/report/3_Keyword.asp?id=1&Kid=%B2%BC%C1%D6%CF%DF%B5%C4%B2%CE%CA%FD%C9%E8%D6%C3
布林线参数设置	www.uqing.net/bbs/simple/index.php?t487976.html
布林线参数设置	bbs.sj.net.cn/simple/index.php/node/simple/index.php?t2057174.html