主持人宁远照片	tieba.baidu.com/f?kz=390829013
主持人宁远照片	tieba.baidu.com/f?kz=389584605
四川电视台主持人宁远	www.medialeader.com.cn/leader/200805/20080526091644_18175.html
四川电视台主持人宁远	www.zs.cdut.edu.cn/bencandy.php?fid=27&aid=635
四川电视台主持人宁远	www.chinanews.com.cn/cul/news/2008/05-31/1268183.shtml
主持人宁远照片	www.17tech.com/plus/feedback.php?arcID=106773