网络	click.cpc.sogou.com/bill_cpc?p=uT@Pm$sgyTHwygWhlxcll4BnlZlx5VK8lJ6uPR8gW7iSllllGzLVlGTcZmKF87MTsf$Toklllll=&q=cGlkPTY2NzA1NTk1JnI9MjQmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.cbdgame.com/
手机	click.cpc.sogou.com/bill_cpc?p=s8d@N8peaFIwygk4l9yll4BnlZlx5VKLlJ6uPR8gWq2SllllGzLVlGrQm@rF87MTsf$Toklllll=&q=cGlkPWx4eTY2OCZyPTI0Jmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.cbdgame.com/
游戏	click.cpc.sogou.com/bill_cpc?p=mqADQU7LF$dwygkklpDll4BnlZllXvvslF3w688gWqqSllllGzLVl25n8EKSIdvfllllll==&q=cGlkPWNoZW5naHVpJnI9MjQmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.cbdgame.com/infos/xydt/20080430235441645.html