张建新	opinion.people.com.cn/GB/7307691.html
张建新	news.163.com/08/0528/10/4D1A8PSL0001124J.html
四川省卫生厅张建新	www.17tech.com/plus/feedback.php?arcID=98869
四川省卫生厅张建新	www.17tech.com/plus/feedback.php?arcID=98869
四川省卫生厅张建新	www.17tech.com/news/20080528100599.shtml
四川省卫生厅张建新	blog.zol.com.cn/711/article_710312.html