吕秀莲到大陆	news.online.sh.cn/news/gb/content/2007-07/04/content_2004066.htm
吕秀莲到大陆	bbs.tiexue.net/post_1299526_1.html
吕秀莲的照片	it.rising.com.cn/Channels/Info/Securty/2004-06-22/1087887480d12573.shtml
吕秀莲的照片	bbs.51-net.com/TopicOther.asp?t=5&BoardID=3&id=7714