市场营销+案例	www.dushu.com/book/11167046/
市场营销+案例	www.dianliang.com/Soft/Resources/anli/Index.html
市场营销+案例	202.201.112.25:8000/yingxiaoxue/edu/anliku.doc
市场营销+案例	ks.cn.yahoo.com/question/1307111402971.html