印尼排华是怎么回事	zhidao.baidu.com/question/47218514
印尼雅加达	www.51766.com/img/ynyjd/
雅加达+天气	www.epiaow.com/gwtq/011.htm
雅加达+天气	www.tenki.tw/international/internationaldetail.php?stat=asia&country=%E5%8D%B0%E5%B0%BC