宽带拨号软件	www.scjx.com/pppoe/pppoe.htm
宽带拨号软件	www.yesky.com/497/1900997.shtml
宽带拨号软件	www.wishdown.com/Software/Catalog23/8986.html
宽带拨号软件	xiazai.zol.com.cn/detail/6/52408.shtml
支持VISTA平台的宽带拨号软件	www.52z.com/tags_\xa8\xa8\xa8\xaa?t.html