诸葛亮测字算命	www.skycn.com/soft/6542.html
诸葛亮测字算命	soft.winzheng.com/softview/softview_6541.htm
诸葛亮算命	ishare.edu.sina.com.cn/cgi-bin/fileid.cgi?fileid=2856759
诸葛测字算命	www.d1xz.net/sm/zhugecezi.aspx
诸葛测字算命	www.d1xz.net/sm/zhugecezi.aspx