监护仪模块	www.bokang.cn/Html/xianjinyiqi/102646948.html
北京泰达新兴医学工程有限公司	www.qy6.com/qyml/comptedaxx.html
北京泰达新兴医学工程有限公司	info.med.hc360.com/2005/07/05165865462.shtml
北京泰达新兴医学工程有限公司	tdaxx.diytrade.com/sdp/352544/2/ml-1642285.html