南康赣商村镇银行	active.zgjrw.com/News/2008129/ruraleconomics/827143146400.html
南康赣商村镇银行	www.gndaily.com/news/2008-2/200824102013.htm
南康赣商村镇银行	active.zgjrw.com/Comment/view.asp?Html=/News/2008129/ruraleconomics/827143146400.html&Title=%C4%CF%BF%B5%B8%D3%C9%CC%B4%E5%D5%F2%D2%F8%D0%D0%BB%FA%B9%B9%B5%C4%D4%CB%D7%F7%C7%E9%BF%F6