吉祥物设计图片	www.nipic.com/show/5/6/b95cb58e35c290d4.html
吉祥物设计图片	leemart.blog.sohu.com/86284622.html
吉祥物设计图片	www.photosohu.com/Sysc/pic_detail.php?&ClassID=129&PhotoID=161698
吉祥物设计图片	article.pchome.net/content-519846.html