成都C4战队	www.out360.cn/tuozhan/bbs/TopicShow.asp?ThreadID=575
成都C4战队	www.i0818.cn/viewthread.php?tid=99&extra=page%3D6
成都C4战队	www.c4force.com/TopicOther.asp?t=5&BoardID=7&id=1316
成都C4战队	www.hxfoods.com/bbs/dispbbs.asp?boardID=21&ID=58893&page=1
成都C4战队	www.out360.cn/tuozhan/bbs/TopicShow.asp?ThreadID=575