网页设计	click.cpc.sogou.com/bill_cpc?p=PStv3vTwXcdwygWslxcllR4NlZlxnd0JlFaQ0HozR1CSllllGzLqlGTc1r5Jfa8peWRSHylllll=&q=cGlkPXhpYTIwMDgmcj0yNSZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.shijuezhilv.cn/
游戏	click.cpc.sogou.com/bill_cpc?p=RxYcVbMbgbdwygKqlpDll4BnlZllXvvslF3w6dozR1CSllllGzLql25n8EKSIdvfllllll==&q=cGlkPXhpYTIwMDgmcj0yNSZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.cbdgame.com/infos/xydt/20080430235441645.html