武雷利	www.sg.com.cn/581/581b45.htm
武雷利	www.xmems.org.cn/cgi-bin/ut/topic_show.cgi?id=10338&h=1&bpg=20&age=0
武雷利	edu.sina.com.cn/health/clinic/2000-08-16/7661.html
武雷利	www.people.com.cn/GB/paper53/2032/324807.html
武雷利	ffp.airchina.com.cn/jszx/infomation.jsp?infoID=338&infoTypeId=0