通信	click.cpc.sogou.com/bill_cpc?p=MVTByMxIMDIwygWglxcllGshlZlx5QnClFaKLTCVPrPSllllGYQClahshar2$2RV8Eg27Zlllll=&q=cGlkPTY2NzA1NTk1JnI9MjcmaD0xNjg0NDQ3MjAmdj03JmM9TwA=&url=http://www.hyt.com.cn/Cn/pros.asp%3Flb=3
财经	click.cpc.sogou.com/bill_cpc?p=w4aiazeG9zNwygWOlxcllxs1lZlx5q4blFaPZ4CVPrPSllllGbLClaaps$Lihtzellllll==&q=cGlkPXhpYTIwMDgmcj0yNyZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.588588gp.com/sohu.htm
投资	click.cpc.sogou.com/bill_cpc?p=ldK73jkW@VBwygKmlxcllxs1lZlx5q44lFaPZ4CVPrPSllllGbLClaXJer42HHK3llllll==&q=cGlkPWhsamhlZ2FuZyZyPTI3Jmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.588588gp.com/sohu.htm
投资	click.cpc.sogou.com/bill_cpc?p=4SixUFumuEPwygKelxcllxs1lZlx5q44lFaPZ4CVPrPSllllGbLClaXJer42HHK3llllll==&q=cGlkPXhpYTIwMDgmcj0yNyZoPTE2ODQ0NDcyMCZ2PTcmYz1PAA==&url=http://www.588588gp.com/sohu.htm