什么是权证	wenwen.soso.com/z/q22954651.htm
权证博客	quanzhengfafa.blog.sohu.com/
权证博客	guba2.eastmoney.com/ymdf,6296810,guba.html
如何炒权证	www.rumen8.com/html/quanzheng/quanzhengmaimaijiqiao/20070825/7558.html
如何炒权证	ticket.cnfol.com/080104/165,1611,3668486,00.shtml
如何炒权证	mmmm77780913.blog.sohu.com/56563416.html