印尼排华是怎么回事	wenwen.soso.com/z/q38846748.htm
98印尼排华事件图片	www.jkcsw.com/ylxx/xwzx/200605/17111.html
98印尼排华事件图片	fosusky.com/bbs/dispbbs.asp?boardid=27&id=1564
98印尼排华事件图片	www.tianya.cn/techforum/Content/194/555829.shtml
98印尼排华事件图片	bbs.zt169.com/showtopic-40705.aspx