印尼残害华人照片全	www.fiatclub.net/bbs/dispbbs.asp?boardid=18&id=55201
印尼残害华人照片全	www.uurao.com/bbs2/cgi-bin/topic.cgi?forum=1&topic=89&show=
印尼残害华人照片全	www.picturechina.com.cn/html/84/t-1284.html
印尼残害华人照片全	www.tianya.cn/new/publicforum/Content.asp?strItem=worldlook&flag=1&idArticle=111617
印尼残害华人照片全	bbs.club.sohu.com/rs-zz0149-157-289565-289565-1187053867.html