理查·基尔	star.tvsou.com/starshtml/28/star_1_2816.htm
布拉德·皮特	ent.sina.com.cn/s/u/f/bradpt.html
冰岛歌手	wenwen.soso.com/z/q58282279.htm
冰岛女歌手比约克	ent.sina.com.cn/s/u/29206.html
冰岛女歌手比约克	news.21cn.com/domestic/yaowen/2008/03/05/4421409.shtml