宁波电信	www.nbtelecom.com/
宁波电信	www.nbtelecom.com/aboutus.shtml
宁波电信宽带逍遥行	iask.sina.com.cn/b/7882528.html
宁波电信宽带逍遥行	202.101.188.217/archiver/tid-3741752-page-3.html
宁波电信宽带逍遥行	bbs.zj.vnet.cn/topic_show.jsp?id=3453829&oldpage=1&thesisid=149&flag=topic1