帝国时代4最新	www.pcgames.com.cn/kzzt/pcgame/diguoshidai/
帝国时代3+亚洲王朝	www.800n.cn/down/pcgame/1828.html
帝国时代3+亚洲王朝	game.kuaiche.com/dl/pcgame/demo/2007-10-06/475.html
帝国时代3+亚洲王朝	www.tudou.com/programs/view/l7z0kKB13eg/
帝国时代4	www.nvtom.com/downinfo/6.html