新加坡大学	liuxue.eol.cn/article/20060412/3185010.shtml
新加坡大学	www.iae-longre.com/News/2007/4-20/104159.html
新加坡国立大学（National+University+of+Singapore）	www.jxedu.gov.cn/bmgz/cglx/lxxx12/xjb/2007/06/12591.html
新加坡国立大学（National+University+of+Singapore）	www.zju-cos.net/news_view.asp?id=1806
新加坡国立大学（National+University+of+Singapore）	news.xinhuanet.com/ziliao/2008-01/09/content_7313568.htm
新加坡国立大学	baike.baidu.com/view/49291.htm