psp死神5	www.lailook.com/html/youxixiazai/20080514/2212.html
psp死神5	article.pchome.net/content-577631.html
psp死神5	psp.duowan.com/0802/67697343600_3.html
psp死神5全人物	bbs.pspchina.net/viewthread.php?tid=265794
psp死神5全人物	bbs.2u.com.cn/thread-107965-1-1.html
psp死神5全人物	bbs.a9vg.com/read.php?tid=896092&page=e
psp死神5新人物	tv.duowan.com/0804/72282369730.html
psp死神5新人物	bbs.togame.net/simple/index.php?t19854.html
psp死神5新人物	tv.duowan.com/0803/70291988578.html
PS2什么时候出新死神	wenwen.soso.com/z/q52772572.htm
死神官网	zhidao.baidu.com/question/46472519