北京昌平大学城	beijing.ttfy.cn/sell/house20909.htm
昌平大学城	news.qq.com/a/20080419/000838.htm
昌平大学城	iask.sina.com.cn/b/2253077.html
昌平大学城	bj.city8.com/\xa1\xc0\xa1\xc0??\xa8\xbaD2y??\xa1\xe4\xa8\xae?\xa1\xec3?
昌平大学城	past.people.com.cn/GB/paper1787/6185/613274.html
昌平大学城	msn.ynet.com/view.jsp?oid=7952709