07式军装	you.video.sina.com.cn/b/5200874-1248903052.html
07式军装	news.xinhuanet.com/ziliao/2004-07/02/content_1564016.htm
07式军装	www.liuhaier.com/military/200707/military_30323.html
07式军装	v.youku.com/v_show/id_ca00XNjEyMDEwOA==.html