数码摄像机	click.cpc.sogou.com/bill_cpc?p=7bSx2$YAtpiwygtrlxcll4TFlZlxnwLdlF3uT21JQHeqllllpx9vlDrdZmsJcD@em@olllll&q=cGlkPXNvaHUmcj0xNyZoPTE2ODQ0NDcyMCZ2PTEmYz1PAA==&url=http://www.hzysm.com
数码摄像机	product.pcpop.com/DV/00000_1.html
菲星sdv数码摄像机	player.it168.com/viewthread.php?tid=497814&extra=page%3D1
菲星sdv数码摄像机	product.thethirdmedia.com/1120/market153c19.html