沈国放间谍案	news.qq.com/a/20060425/
沈国放是间谍	pop.pcpop.com/080424/4064377.html
沈国放+间谍	forum.dragonsky.net/dispbbs.asp?boardid=5&id=95408&star=1&page=1
沈国放近况	news.sohu.com/20041019/subject_news_news143746653.shtml