通信	click.cpc.sogou.com/bill_cpc?p=waR5dpL@xdBwygtvlxcllGshlZlx5QnClFaKL87HCvJSllllGYqVlahshar2$2RV8Eg27Zlllll=&q=cGlkPWRvbmdidDY4OCZyPTIwJmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://www.hyt.com.cn/Cn/pros.asp%3Flb=3