索尼	click.cpc.sogou.com/bill_cpc?p=x3X3BkZLdt2wygN0lxclllrAlyllX5TKlFwX54hPDRHSllllGBpClGsTenVLYQOsw4Sfllllll==&q=cGlkPWFhbmppYSZyPTI3Jmg9MTY4NDQ0NzIwJnY9NyZjPU8A&url=http://smartkeyword.allyes.com/main/adfclick%3Fdb=smartkeyword%26bid=1,101,4%26cid=1,0,0%26kv=kvid/496721%26show=ignore%26url=http://www.sonystyle.com.cn/products/vaio/index.htm%3FidObj=tz3