尺寸链	www.ilib.cn/A-kjqbkfyjj200307090.html
尺寸链	jpkc.ahut.edu.cn/jxzz/kjxx/chap5/chap5_7a.htm
尺寸链	www.cqvip.com/QK/94992A/2007003/24875384.html
尺寸链	book.hzu.edu.cn/book.htm?222292
尺寸链	www.cmiw.cn/html/41/t-74541.html
尺寸链	ckrd.cnki.net/grid20/detail.aspx?filename=JCYY200404071&dbname=cjfd2004